# %%
from {{monorepo_name}} import greeting, log

logger = log.get_logger("The DEV logger")
data = greeting.hello_world()

logger.info(data)
# %%
logger.error("hi")
# %%
from {{monorepo_name}}.hello_api import core

print(core.app.routes)
# %%
from components.{{monorepo_name}}.greeting.core import hello_world
hello_world() + "!"
# %%
